
<!-- Partners start -->
<section class="py-4 border-bottom border-top bg-light">
  <div class="container">
    <div class="row justify-content-center">

      {% for customer in collections.customers %}

        {% if customer.data.showOnHomePage %}
          <div class="col-lg-2 col-md-2 col-6 text-center py-4">
            <img
              src="{{ customer.data.logoImage }}"
              class="avatar avatar-ex-sm"
              alt="{{ customer.data.title }}"
              loading="lazy"
            />
          </div>
        <!--end col-->
        {% endif %}
        
      {% endfor %}

    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Partners End -->