---
layout: "layouts/blogs.njk"
hero: Blog
title: "EasyHR | Blog | Human Resource concepts and technology"
description: "Easy HR Blog - Here we talk about HR Software Tips and Tricks and Human Resource Concepts and Software. We also announce new features and provide updates"
eleventyExcludeFromCollections: true
pagination: 
    data: collections.posts
    size: 14
    alias: posts
    reverse: true
---